# Dice Game

**Steps:**

1. Two players roll a dice sperately.
2. Players take a look at thier own dice and decide weather to continue.
3. The one getting a bigger number wins $10 from the other player.
4. Return to step1.

In [1]:
import os
import random
import pandas as pd

In [2]:
random.seed(0)
NUM = 100

results = pd.DataFrame()
results['PART1'] = [random.randint(1, 6) for x in range(NUM)]
results['PART2'] = [random.randint(1, 6) for x in range(NUM)]
results['PROB_1'] = ''
results['PROB_2'] = ''
results['KELLY_1'] = ''
results['KELLY_2'] = ''
results['WINNER'] = ''
results.head()

   PART1  PART2 PROB_1 PROB_2 KELLY_1 KELLY_2 WINNER
0      4      6
1      4      3
2      1      4
3      3      1
4      5      1

**Tasks:**

1. Choose one player from the above two and use your strategy to play the game (suppose the other player will always play regardless the dice he got);
2. Calculate your probability to win (`PROB_1` or `PROB_2`);;
3. Find out the winner (`WINNER`);
4. Find out who is the final winner after 1000 turns.

**Answers**

Take the role of player 1 and use the Kelly Method -- only play if `p - q > 0`.

In [3]:
results['PROB_1'] = results['PART1'].apply(lambda x: (x-1)/6)
results['PROB_2'] = results['PART2'].apply(lambda x: (x-1)/6)

results['KELLY_1'] = results['PROB_1'].apply(lambda x: 1 if 2*x-1 >= 0 else 0)
results['KELLY_2'] = results['PROB_2'].apply(lambda x: 1 if 2*x-1 >= 0 else 0)

results['WINNER'] = results['KELLY_1'] * results[['PART1', 'PART2']].apply(lambda x: 1 if x[0] > x[1] else 2, axis=1)

In [4]:
results.head()

   PART1  PART2    PROB_1    PROB_2  KELLY_1  KELLY_2  WINNER
0      4      6  0.500000  0.833333        1        1       2
1      4      3  0.500000  0.333333        1        0       1
2      1      4  0.000000  0.500000        0        1       0
3      3      1  0.333333  0.000000        0        0       0
4      5      1  0.666667  0.000000        1        0       1

In [5]:
results[['PART1', 'WINNER']].groupby(by='WINNER').count().rename(columns={'PART1': 'count'})

        count
WINNER
0          50
1          32
2          18

According to the summary table above, it is clear that the player 1 with the Kelly Method won 14 more times than player 2. The simulation illustrates the effectiveness of the Kelly Method.

In [6]:
results.to_csv(os.getcwd()+'/dice_game_results.csv', index=False)