In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [69]:
df = pd.read_csv('/Users/ewenwang/Documents/practice_data/loan_default.csv')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (135,204,274,417) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [70]:
df.head()

,id,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f770,f771,f772,f773,f774,f775,f776,f777,f778,loss
0,1,126,10,0.686842,1100,3,13699,7201.0,4949.0,126.75,...,5,2.14,-1.54,1.18,0.1833,0.7873,1,0,5,0
1,2,121,10,0.782776,1100,3,84645,240.0,1625.0,123.52,...,6,0.54,-0.24,0.13,0.1926,-0.6787,1,0,5,0
2,3,126,10,0.500080,1100,3,83607,1800.0,1527.0,127.76,...,13,2.89,-1.73,1.04,0.2521,0.7258,1,0,5,0
3,4,134,10,0.439874,1100,3,82642,7542.0,1730.0,132.94,...,4,1.29,-0.89,0.66,0.2498,0.7119,1,0,5,0
4,5,109,9,0.502749,2900,4,79124,89.0,491.0,122.72,...,26,6.11,-3.82,2.51,0.2282,-0.5399,0,0,5,0

In [71]:
df = df.fillna(0)

In [92]:
df1 = df.head(10)
df2 = df.head(2)

In [97]:
def similarity(df1, df2):
    df_tmp = pd.DataFrame()
    df_tmp['id'] = df1['id']
    df_tmp['similarity'] = df1.apply(lambda x: cosine_similarity([x.as_matrix(), df2.values[1]])[0][1], axis=1)
    df_tmp = df_tmp.sort_values(by='similarity', ascending=False)
    return df_tmp

In [98]:
out = similarity(df1, df2)

In [99]:
out.head()

   id  similarity
1   2    1.000000
4   5    0.999835
7   8    0.999616
0   1    0.998128
2   3    0.997506